{% extends 'baseb.html.twig' %}

{% block title %}Cart{% endblock %}

{% block body %}
    <a href="#" onclick="history.back();">
        <i></i>
        <span>Retour</span>
    </a>
    <div>
        <p><b>There are {{ cart_items|length }} products in total!</b></p>
    </div>

    {% for message in app.flashes('edited') %}
        <div>{{ message }}</div>
    {% endfor %}
    {% for message in app.flashes('success') %}
        <div>{{ message }}</div>
    {% endfor %}
    {% for message in app.flashes('danger') %}
        <div>{{ message }}</div>
    {% endfor %}

    {% if cart_items %}
        <table id="cart_items">
            <thead>
            <tr>
                <th>Name</th>
                <th>Picture</th>
                <th>Quantity</th>
                <th>Total</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for cart_item in cart_items %}
                <tr>
                    <td>{{ cart_item.product.name }}</td>
                    <td><img src="{{ asset('/images/' ~ cart_item.product.brochureFilename) }}" width="50" height="50"></td>
                    <td>{{ cart_item.quantity }}</td>
                    <td>{{ cart_item.product.price }} × {{ cart_item.quantity }} = {{ cart_item.product.price*cart_item.quantity }} dh</td>
                    <td>
                        <a href="/cart/delete/{{ cart_item.id }}" onclick="return confirm('Do you want to delete {{ cart_item.product.name }}?')">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div>
            <div>
                <a href="/cart/empty" onclick="return confirm('Do you want to empty your cart?')">Empty cart</a>
            </div>
            <div>
                <a href="/cart/checkout">Checkout</a>
            </div>
        </div>
    {% else %}
        <p>No products</p>
    {% endif %}
{% endblock %}
