{% extends 'base.html.twig' %}

{% block body %}
<a href="#" onclick="history.back();">
  <i></i>
  <span>Retour</span>
</a>

<div>
  <div>
    <div>
      <div>
        <img src="{{ asset('/images/' ~ product.brochureFilename) }}" alt="Apple Computer" />
        <div>
          <div>
            <h5>{{ product.name }}</h5>
            <p>{{ product.description }}</p>
          </div>
          <div>
            <div>
              <span>Category</span>
              <span>{{ product.category.name }}</span>
            </div>
          </div>
          <div>
            <span>Price</span>
            <span>{{ product.price }} Dhs</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
